body
  background: #FFF
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  +reg
  color: $c-text
  +no-scroll
  +sm
    font-size: $fz-sm

input, textarea
  font-family: inherit
  font-size: inherit
  color: inherit
  +placeholder
    font-family: inherit
    font-size: inherit

button
  font-size: inherit
  font-family: inherit

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.overflow-hidden
  overflow: hidden

.container
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px
  max-width: 1360px

.section-title
  margin-bottom: 50px
  text-align: center
  +lg
    margin-bottom: 30px
  +md
    margin-bottom: 20px
  +sm
    margin-bottom: 15px
  +xs
    margin-bottom: 10px

.logo
  display: block
  +sm
    width: 60px

.green
  color: $green
.blue
  color: $blue

.text-center
  text-align: center

.btn
  text-transform: uppercase
  color: $white
  background-color: $accent
  border: 2px solid  $accent
  display: inline-block
  min-width: 260px
  padding: 11px 10px
  text-align: center
  +bold
  border-radius: 25px
  +tr(background-color .3s, color .3s, border-color .3s )
  +hover
    color: $accent
    background-color: transparent

  &--transp-white
    background-color: transparent
    color: $white
    border-color: $white
    +hover
      color: $accent
      background-color: $white
  &--sm
    font-size: $fz
    min-width: 170px
    padding: 14px 10px 12px
  &--lg
    padding-top: 21px
    padding-bottom: 21px
    +md
      padding-top: 16px
      padding-bottom: 16px
    +sm
      padding-top: 11px
      padding-bottom: 11px
  &--reg
    +reg
  &--arrow
    position: relative
    +inline-flex(space-between, center)
    padding-left: 30px
    padding-right: 30px
    +after
      +icon-arrow(12, 12, 1, currentColor, -135)
      display: inline-block
  &--rect
    border-radius: 0
  &--full
    width: 100%
    min-width: 0

.quest
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 50%
  width: 12px
  height: 12px
  text-align: center
  background-color: $gray-light
  font-size: .5em
  color: $white
  position: relative
  top: -.35em
  position: relative
  +tr(background-color .3s)
  &:hover
    background-color: $accent
    .tooltip
      visibility: visible
      opacity: 1

.tooltip
  visibility: hidden
  opacity: 0
  position: absolute
  display: block
  background-color: $c-text
  z-index: 10
  min-width: 200px
  padding: 10px
  border-radius: $radius-sm
  left: 50%
  transform: translate(-50%, 0)
  bottom: calc(100% + 10px)
  +tr(opacity .3s, visibility .3s)
  +before
    +arr(16,8, $c-text, b)
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    top: 100%
  +xss
    transform: translate(0, 0)
    left: auto
    right: -15px
    min-width: 0
    width: 150px


.number
  color: $blue
  +css-lock(48, 120, 320, 1199, font-size)
  line-height: 1.2
  +bold
  &--sm
    +css-lock(24, 48, 320, 1199, font-size)
    small
      font-size: .3em


