$fz:    14px
$fz-sm: 13px
$fz-xs: 12px

$c-text: #000
$accent: #ff8a00
$white: #fff

$gray: #7d7d7d
$gray-light: #dedede
$gray-dark: #535353

$blue: #3a47c5
$green: #50b513

$header-height: 150px
$header-height-lg: 100px
$header-height-sm: 50px
$footer-height: 70px

$radius: 30px
$radius-sm: 15px
