{% import "../data/_sertificats.html" as sertificats %}

<!-- begin cabinet -->
<section class="cabinet">
  <div class="cabinet__inner">
    <div class="cabinet__top">
      <div class="cabinet__img user-img js-lazy" data-background-image="img/photo-camera.png"></div>

      <div class="cabinet__title">Доброго дня, сандюк олександра ігорівна!</div>

      <div class="cabinet__btn">
        {{ mixins.btn(
          title = 'ВИЙТИ',
          mod = 'btn--transp-white btn--sm btn--arrow'
        ) }}
      </div>
    </div>

    <div class="cabinet__blocks">
      <div class="cabinet__block cabinet__block-center">
        <!-- begin cabinet-block -->
        <div class="cabinet-block cabinet-block--hor">
          <div class="cabinet-block__title">На вашому рахунку:</div>
          <div class="number number--sm">980<small>балів</small></div>
          <div class="cabinet-block__right-bottom blue">1 бал = 1 грн</div>
        </div>
        <!-- end cabinet-block -->      
      </div>

      <div class="cabinet__blocks-slider">
        <!-- begin slider -->
        <div class="sertificats-nav__wrap slider__wrap slider--sertificats__wrap">
          <div class="sertificats-nav slider slider--sertificats js-slider js-toggle-content" data-slider="sertificats">
            {% for i in sertificats.slider %}
            {# <a href="#" class="slide js-lazy js-scroll-to" data-background-image="img/logos/{{ i.img }}"> #}
            <a href="#" data-scroll-to="{{ i.href }}" class="sertificats-nav__link slide js-scroll-to">
              <img data-src="img/logos/{{ i.img }}" alt="" class="js-lazy">
            </a>
            {% endfor %}
          </div>
          
          <button class="sertificats-nav__btn btn btn--full js-toggle-btn">обрати магазин</button>

          <button class="slider__prev js-prev"></button>
          <button class="slider__next js-next"></button>
        </div>
        <!-- end slider -->
      </div>

      {% for i in sertificats.sertificats %}
      <div class="cabinet__block js-scroll-to-target" data-scroll-to-target="{{ i.id }}">
        <!-- begin cabinet-block -->
        <div class="cabinet-block sertificats">
          <form>
            <div class="sertificats__top">
              <div class="sertificats__logo">
                <img data-src="img/logos/Silpo.png" alt="" class="js-lazy">
              </div>

              <div class="sertificats__title">Ведуча мережа магазинів самообслуговування в Україні</div>
            </div>

            <div class="sertificats__inner">
              {% for j in i.items %}
              <!-- begin sertificat -->
              <div class="sertificat__wrap">
                <label for="{{ j.id }}" class="sertificat{% if j.mod %} {{ j.mod }}{% endif %}">
                  {{ mixins.input(
                    name = 'radio',
                    mod = 'radio--sertificat',
                    type = 'radio',
                    placeholder = '',
                    value = '',
                    fieldClass = '',
                    fieldAttributes = { 'name': j.name, 'id': j.id },
                    label = { last: ' ', span: true }
                  ) }}
                  <span class="sertificat__label">Подарунковий сертифікат</span>

                  <span class="sertificat__logo">
                    <img data-src="img/logos/Silpo-sm.png" alt="" class="js-lazy">
                  </span>

                  <span class="sertificat__title number number--sm">{{ j.price | safe }}</span>
                </label>
              </div>
              <!-- end sertificat -->
              {% endfor %}
            </div>

            <div class="sertificats__btn">
              {{ mixins.btn(
                title = 'вивести бали',
                mod = '',
                href = false
              ) }}
            </div>
          </form>
        </div>
        <!-- end cabinet-block -->
      </div>
      {% endfor %}
      
    </div>

    <div class="cabinet__souvenirs">
      <div class="section-title">
        <h4 class="h4 h4--ttu h4--gray">Оберіть свій сувенір від Mario:</h4>
      </div>
      {% include "partials/_souvenirs.html" %}
    </div>
  </div>
</section>
<!-- end cabinet -->