{%set
form = [
  { label: 'Введіть номер телефону (ваш майбутній логін):', name: '', type: 'tel', fieldClass: 'js-mask', fieldAttributes: { 'data-mask': 'phone' } },
  { label: 'Ваш E-mail:', name: '', type: 'email' },
  { label: 'ПІБ:', name: '', type: 'text' },
  { label: 'Місце роботи (назва компанії):', name: '', type: 'text' },
  {
    label: 'Оберіть вашу професію:',
    radios: [
      { label: 'Продавець <span class="quest">?</span>', fieldAttributes: { 'name': 'profession', 'checked': '' } },
      { label: 'Монтажник <span class="quest">?</span>', fieldAttributes: { 'name': 'profession' } }
    ]
  },
  { label: 'Ваш новий пароль:', name: '', type: 'password' },
  { label: 'Введіть пароль ще раз:', name: '', type: 'password' }
]
%}

<!-- begin cabinet -->
<section class="cabinet">
  <div class="cabinet__inner">
    <div class="cabinet__top">
      <div class="cabinet__img user-img js-lazy" data-background-image="img/photo-camera.png"></div>

      <div class="cabinet__title">Доброго дня, сандюк олександра ігорівна!</div>

      <div class="cabinet__btn">
        {{ mixins.btn(
          title = 'ВИЙТИ',
          mod = 'btn--transp-white btn--sm btn--arrow'
        ) }}
      </div>
    </div>

    <div class="cabinet__blocks">
      <div class="cabinet__block cabinet__block-center cabinet__block-form">
        <!-- begin form -->
        <div class="form">
          <form>
            <div class="form__img user-img-change">
              <div class="user-img user-img--gray js-lazy" data-background-image="img/photo-camera.png"></div>
              <a href="#">Змінити фото</a>
            </div>
            <div class="form__inner">
              {% for i in form %}
              <div class="form__field">
                <div class="form__input">
                  <div class="form__label">{{ i.label }}</div>
                  
                  {% if i.radios %}
                  <div class="form__radios">
                    {% for j in i.radios %}
                      {{ mixins.input(
                        name = 'radio',
                        mod = '',
                        type = 'radio',
                        placeholder = '',
                        value = '',
                        fieldClass = j.fieldClass,
                        fieldAttributes = j.fieldAttributes,
                        label = { last: j.label, span: true }
                      ) }}
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ mixins.input(
                    name = 'input',
                    mod = '',
                    type = i.type,
                    placeholder = '',
                    value = '',
                    fieldClass = i.fieldClass,
                    fieldAttributes = i.fieldAttributes
                  ) }}
                  {% endif %}
                </div>
              </div>
              {% endfor %}

              <div class="form__btn">
                {{ mixins.btn(
                  title = 'Змінити',
                  mod = '',
                  href = false
                ) }}
              </div>
            </div>
          </form>
        </div>
        <!-- end form -->
      </div>     
      
    </div>
  </div>
</section>
<!-- end cabinet -->