<!-- begin descr -->
<section class="descr js-lazy" data-background-image="img/bg.jpg">
  <div class="descr__title">
    <h2 class="h2">Для кого наша программа?</h2>
  </div>
  <div class="descr__inner"> 

    <div class="descr__block">
      <!-- begin descr-block -->
      <div class="descr-block">
        <div class="descr-block__img js-lazy" data-background-image="img/salesman.png"></div>

        <div class="descr-block__content">
          <div class="descr-block__title h4">Продавець-консультант</div>
          <div class="descr-block__text text--gray">Тому мудрець дотримується в цьому випадку наступного принципу вибору – або, відмовляючись від задоволення, він отримує якісь інші і навіть великі насолоди, або, зазнаючи страждання, він позбавляється від більш жорстоких.. Але при деяких обставинах – або на вимогу боргу, або в силу якоїсь необхідності</div>
        </div>
      </div>
      <!-- end descr-block -->
    </div>

    <div class="descr__block">
      <!-- begin descr-block -->
      <div class="descr-block">
        <div class="descr-block__img js-lazy" data-background-image="img/specialist.png"></div>

        <div class="descr-block__content">
          <div class="descr-block__title h4">Монтажник</div>
          <div class="descr-block__text text--gray">Тому мудрець дотримується в цьому випадку наступного принципу вибору – або, відмовляючись від задоволення, він отримує якісь інші і навіть великі насолоди, або, зазнаючи страждання, він позбавляється від більш жорстоких.. Але при деяких обставинах – або на вимогу боргу, або в силу якоїсь необхідності</div>
        </div>
      </div>
      <!-- end descr-block -->
    </div>
  </div>
</section>
<!-- end descr -->