<!-- begin hero -->
<section class="hero js-lazy" data-background-image="img/bg-hero.jpg">
  <div class="hero__content">
    <div class="hero__title">
      <h1 class="h1">Программа лояльності saleswithmario</h1>
    </div>
  </div>

  <div class="hero__form">
    <!-- begin form -->
    <div class="form">
      <form>
        <div class="form__inner">
          <div class="form__field">
            {{ mixins.input(
              name = 'input',
              mod = 'input--lg input--transp',
              type = 'tel',
              placeholder = '+38 (____) - ___ - __ - __',
              value = '',
              fieldClass = '',
              label = { first: 'Для доступу в систему введіть свій логін:' }
            ) }}

            {{ mixins.btn(
              title = 'УВІЙТИ',
              mod = '',
              href = false
            ) }}
          </div>         
        </div>

        <div class="form__footer">
          Ще незареєстровані?   <a href="#">Реєстрація в системі</a>
        </div>
      </form>
    </div>
    <!-- end form -->
  </div>
</section>
<!-- end hero -->