{%set
form = [
  { label: 'Введіть номер телефону (ваш майбутній логін):', name: '', type: 'tel', fieldClass: 'js-mask', fieldAttributes: { 'data-mask': 'phone' } },
  { label: 'Ваш E-mail:', name: '', type: 'email' },
  { label: 'ПІБ:', name: '', type: 'text' },
  { label: 'Місце роботи (назва компанії):', name: '', type: 'text' },
  {
    label: 'Оберіть вашу професію:',
    radios: [
      { label: 'Продавець <span class="quest">? <span class="tooltip">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, dolorum!</span></span>', fieldAttributes: { 'name': 'profession', 'checked': '' } },
      { label: 'Монтажник <span class="quest">? <span class="tooltip">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed illum explicabo suscipit reprehenderit pariatur recusandae nobis officiis asperiores necessitatibus fugit!</span></span>', fieldAttributes: { 'name': 'profession' } }
    ]
  },
  { label: 'Введіть ваш майбутній пароль:', name: '', type: 'password' }
]
%}

<!-- begin hero -->
<section class="hero hero--form js-lazy" data-background-image="img/bg-hero.jpg">
  <div class="hero__content">
    <div class="hero__title">
      <h1 class="h1">Программа лояльності SALESWITHMARIO</h1>
    </div>
  </div>

  <div class="hero__form">
    <!-- begin tabs -->
    <div class="tabs js-tabs">
      <div class="tabs__tabs">
        <button class="tabs__tab js-tab is-active" data-target-tab="login">Вхід</button>
        <button class="tabs__tab js-tab" data-target-tab="registration">Реєстрація</button>
      </div>

      <div class="tabs__content">
        <div class="tabs__item js-tabs-item is-active" data-tab="login">
          <!-- begin form -->
          <div class="form">
            <form>
              <div class="form__inner">
                <div class="form__field form__field-flex">
                  <div class="form__label form__label-top">Для доступу в систему введіть свій логін і пароль:</div>
                    <div class="form__input">
                      {{ mixins.input(
                        name = 'input',
                        mod = 'input--transp',
                        type = 'tel',
                        placeholder = '+38 (____) - ___ - __ - __',
                        value = '',
                        fieldClass = 'js-mask',
                        fieldAttributes = { 'data-mask': 'phone' }
                      ) }}

                      {{ mixins.input(
                        name = 'input',
                        mod = 'input--transp',
                        type = 'password',
                        placeholder = 'Пароль',
                        value = '',
                        fieldClass = '',
                        fieldAttributes = { }
                      ) }}

                      {{ mixins.btn(
                        title = 'УВІЙТИ',
                        mod = '',
                        href = false
                      ) }}
                    </div>
                </div>         
              </div>

              <div class="form__footer">
                Ще незареєстровані?   <a href="#">Реєстрація в системі</a>
              </div>
            </form>
          </div>
          <!-- end form -->
        </div>

        <div class="tabs__item js-tabs-item" data-tab="registration">
           <!-- begin form -->
            <div class="form">
              <form>
                <div class="form__inner">
                  {% for i in form %}
                  <div class="form__field">
                    <div class="form__input">
                      <div class="form__label">{{ i.label }}</div>
                      
                      {% if i.radios %}
                      <div class="form__radios">
                        {% for j in i.radios %}
                          {{ mixins.input(
                            name = 'radio',
                            mod = '',
                            type = 'radio',
                            placeholder = '',
                            value = '',
                            fieldClass = j.fieldClass,
                            fieldAttributes = j.fieldAttributes,
                            label = { last: j.label, span: true }
                          ) }}
                        {% endfor %}
                      </div>
                      {% else %}
                      {{ mixins.input(
                        name = 'input',
                        mod = '',
                        type = i.type,
                        placeholder = '',
                        value = '',
                        fieldClass = i.fieldClass,
                        fieldAttributes = i.fieldAttributes
                      ) }}
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="form__btn">
                    {{ mixins.btn(
                      title = 'реєстрація',
                      mod = '',
                      href = false
                    ) }}
                  </div>
                </div>

                <div class="form__footer">
                  Вже зареєстровані, але не пам’ятаете пароль?    <a href="#">Відновити пароль</a>
                </div>
              </form>
            </div>
            <!-- end form -->
        </div>
      </div>
    </div>
    <!-- end tabs -->
    
  </div>
</section>
<!-- end hero -->