{%set
blocks1 = [
  {
    title: 'Крок 1',
    text: 'Ви потрапили на сайт, вам потрібно натиснути <br>
на кнопку "Зареєструватися".'
  },
  {
    reverse: true,
    title: 'Крок 2',
    text: 'На цій сторінці вам потрібно буде заповнити поля з інформацією про себе. <br>
Далі натискаєте кнопку “Реєстрація”'
  },
  {
    title: 'Крок 3',
    text: 'Ви потрапляєте до власного кабінету, де вам потрібно <br> обрати товар, який ви продали та ввести його код.'
  },
  {
    reverse: true,
    title: 'Крок 4',
    text: 'Далі ви отримаєте повідомлення про те, що ваші дані відправлені на перевірку. <br>
Час перевірки: від 5 до 15 хвилин'
  },
  {
    title: 'Крок 5',
    text: '
      <p>Після цього, в залежності від результату, ви побачите статус вашого запиту:</p>
      <ul>
        <li>кількість нарахованих балів</li>
        <li>невірні дані</li>
        <li>перевірка даних</li>
      </ul>
      <p>З правої сторони ви бачите кількість ваших балів, які ви можете вивести.</p>

    '
  }
]
%}

{%set
blocks2 = [
  {
    img: '06.jpg',
    reverse: true,
    title: 'Крок 1',
    text: 'Вам потрібно перейти на сторінку виводу балів (натисніть у шапці сайту “Вивести бали”)'
  },
  {
  img: '07.jpg',    
    title: 'Крок 2',
    text: 'Ви можете обрати магазин (логотип), через який бажаєте вивести бали. <br>
Або оберіть товар, який бажаєте придбати за рахунок ваших балів.'
  },
  {
    img: '08.jpg',
    reverse: true,
    title: 'Крок 3',
    text: 'Якщо ви оберете вивід балів через магазин, система відобразить вам доступні сертифікати <br>
для виводу балів. Вам потрібно обрати сертифікат та натиснуть “Вивести бали”'
  },
  {
    img: '09.jpg',
    title: 'Крок 4',
    text: 'Ваша заявка прийнята. Чекайте телефонного дзвінка від нашого менеджера.'
  }
]
%}

<!-- begin cabinet -->
<section class="cabinet cabinet--page">
  <div class="cabinet__inner">
    <div class="cabinet__top">

      <div class="cabinet__title text-center">Інструкція з використання Програми лояльності</div>


    </div>

    <div class="cabinet__page">
      <!-- begin instructions -->
      <div class="instructions">
        <div class="instructions__blocks">
          {% for i in blocks1 %}
          {% include "partials/_instruction-block.html" %}
          {% endfor %}
        </div>

        <div class="instructions__title">
          <h2 class="h2 h2--ttn">Що можна зробити з балами?</h2>
        </div>

        <div class="instructions__blocks">
          {% for i in blocks2 %}
          {% include "partials/_instruction-block.html" %}
          {% endfor %}
        </div>
      </div>
      <!-- end instructions -->
    </div>

  </div>
</section>
<!-- end cabinet -->