{%set
partners = {
  slider: [
    { img: '1.png' },
    { img: '2.png' },
    { img: '3.png' },
    { img: '4.png' },
    { img: '5.png' },
    { img: '6.png' },
    { img: '7.png' },
    { img: '1.png' },
    { img: '2.png' },
    { img: '3.png' },
    { img: '4.png' },
    { img: '5.png' },
    { img: '6.png' },
    { img: '7.png' }
  ]
}
%}

<!-- begin partners -->
<section class="partners">
  <!-- begin slider -->
  <div class="slider__wrap">
    <div class="slider js-slider" data-slider="partners">
      {% for i in partners.slider %}
      <!-- begin slide -->
      <div class="slide">
        {# <img data-src="img/logos/{{ i.img }}" alt="" class="js-lazy"> #}
        <div class="partner-img js-lazy" data-background-image="img/logos/{{ i.img }}"></div>
      </div>
      <!-- end slide -->
      {% endfor %}
    </div>
  </div>
  <!-- end slider -->
</section>
<!-- end partners -->