{%set
form = [
  { label: 'Ваш E-mail:', name: '', type: 'email' }
]
%}

<!-- begin registration -->
<main class="main main--full js-lazy" data-background-image-desc="img/bg-reg.jpg" data-background-image-mob="img/bg-reg-mob.jpg">
  <!-- begin registration -->
  <section class="registration">
    <div class="registration__inner">
      <div class="registration__form">
        <!-- begin form -->
        <div class="form">
          <form>
            <div class="form__inner">
              {% for i in form %}
              <div class="form__field">
                <div class="form__input">
                  <div class="form__label">{{ i.label }}</div>
                  
                  {% if i.radios %}
                  <div class="form__radios">
                    {% for j in i.radios %}
                      {{ mixins.input(
                        name = 'radio',
                        mod = '',
                        type = 'radio',
                        placeholder = '',
                        value = '',
                        fieldClass = j.fieldClass,
                        fieldAttributes = j.fieldAttributes,
                        label = { last: j.label, span: true }
                      ) }}
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ mixins.input(
                    name = 'input',
                    mod = '',
                    type = i.type,
                    placeholder = '',
                    value = '',
                    fieldClass = i.fieldClass,
                    fieldAttributes = i.fieldAttributes
                  ) }}
                  {% endif %}
                </div>
              </div>
              {% endfor %}

              <div class="form__btn">
                {{ mixins.btn(
                  title = 'Скинути пароль',
                  mod = '',
                  href = false
                ) }}
              </div>
            </div>

            <div class="form__footer">
              Ви вже зареєстровані?    <a href="#">Повернутися на головну</a>
            </div>
          </form>
        </div>
        <!-- end form -->
      </div>
    </div>
  </section>
  <!-- end registration -->
</main>
<!-- end registration -->