{%set
sertificats = [
  {
    id: 'block-silpo-001',
    items: [
      { name: 'silpo-001-sertificat', id: 'silpo-001-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-001-sertificat', id: 'silpo-001-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-001-sertificat', id: 'silpo-001-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-001-sertificat', id: 'silpo-001-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-001-sertificat', id: 'silpo-001-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-001-sertificat', id: 'silpo-001-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-002',
    items: [
      { name: 'silpo-002-sertificat', id: 'silpo-002-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-002-sertificat', id: 'silpo-002-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-002-sertificat', id: 'silpo-002-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-002-sertificat', id: 'silpo-002-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-002-sertificat', id: 'silpo-002-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-002-sertificat', id: 'silpo-002-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-003',
    items: [
      { name: 'silpo-003-sertificat', id: 'silpo-003-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-003-sertificat', id: 'silpo-003-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-003-sertificat', id: 'silpo-003-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-003-sertificat', id: 'silpo-003-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-003-sertificat', id: 'silpo-003-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-003-sertificat', id: 'silpo-003-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-004',
    items: [
      { name: 'silpo-004-sertificat', id: 'silpo-004-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-004-sertificat', id: 'silpo-004-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-004-sertificat', id: 'silpo-004-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-004-sertificat', id: 'silpo-004-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-004-sertificat', id: 'silpo-004-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-004-sertificat', id: 'silpo-004-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-005',
    items: [
      { name: 'silpo-005-sertificat', id: 'silpo-005-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-005-sertificat', id: 'silpo-005-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-005-sertificat', id: 'silpo-005-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-005-sertificat', id: 'silpo-005-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-005-sertificat', id: 'silpo-005-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-005-sertificat', id: 'silpo-005-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-006',
    items: [
      { name: 'silpo-006-sertificat', id: 'silpo-006-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-006-sertificat', id: 'silpo-006-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-006-sertificat', id: 'silpo-006-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-006-sertificat', id: 'silpo-006-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-006-sertificat', id: 'silpo-006-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-006-sertificat', id: 'silpo-006-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-007',
    items: [
      { name: 'silpo-007-sertificat', id: 'silpo-007-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-007-sertificat', id: 'silpo-007-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-007-sertificat', id: 'silpo-007-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-007-sertificat', id: 'silpo-007-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-007-sertificat', id: 'silpo-007-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-007-sertificat', id: 'silpo-007-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-008',
    items: [
      { name: 'silpo-008-sertificat', id: 'silpo-008-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-008-sertificat', id: 'silpo-008-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-008-sertificat', id: 'silpo-008-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-008-sertificat', id: 'silpo-008-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-008-sertificat', id: 'silpo-008-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-008-sertificat', id: 'silpo-008-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-009',
    items: [
      { name: 'silpo-009-sertificat', id: 'silpo-009-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-009-sertificat', id: 'silpo-009-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-009-sertificat', id: 'silpo-009-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-009-sertificat', id: 'silpo-009-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-009-sertificat', id: 'silpo-009-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-009-sertificat', id: 'silpo-009-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  },
  {
    id: 'block-silpo-010',
    items: [
      { name: 'silpo-010-sertificat', id: 'silpo-010-30hrn', price: '30<small>грн</small>', mod: '' },
      { name: 'silpo-010-sertificat', id: 'silpo-010-50hrn', price: '50<small>грн</small>', mod: '' },
      { name: 'silpo-010-sertificat', id: 'silpo-010-100hrn', price: '100<small>грн</small>', mod: '' },
      { name: 'silpo-010-sertificat', id: 'silpo-010-200hrn', price: '200<small>грн</small>', mod: '' },
      { name: 'silpo-010-sertificat', id: 'silpo-010-500hrn', price: '500<small>грн</small>', mod: '' },
      { name: 'silpo-010-sertificat', id: 'silpo-010-1000hrn', price: '1000<small>грн</small>', mod: 'is-disabled' }
    ]
  }
]
%}

{%set
  slider = [
    { href: 'block-silpo-001', img: '9IZbOOTXTsCUuTjXmew2_logo_auchan.png' },
    { href: 'block-silpo-002', img: '2000px-WOG_Logo.svg.png' },
    { href: 'block-silpo-003', img: 'Epicentr.png' },
    { href: 'block-silpo-004', img: 'rozetka.png' },
    { href: 'block-silpo-005', img: 'Silpo.png' },
    { href: 'block-silpo-006', img: '9IZbOOTXTsCUuTjXmew2_logo_auchan.png' },
    { href: 'block-silpo-007', img: '2000px-WOG_Logo.svg.png' },
    { href: 'block-silpo-008', img: 'Epicentr.png' },
    { href: 'block-silpo-009', img: 'rozetka.png' },
    { href: 'block-silpo-010', img: 'Silpo.png' }
  ]
%}