.header
  +flex(space-between, center)
  background-color: transparent
  z-index: 10
  position: relative
  padding-left: 65px
  padding-right: 55px
  padding-top: 10px
  padding-bottom: 10px
  height: $header-height
  color: $white
  &__contacts
    text-transform: uppercase
    a
      +bold