.hero
  position: relative
  margin-top: -$header-height
  +cover
  text-align: center
  padding-top: calc(#{$header-height} + 3%)
  +lg
    margin-top: -$header-height-lg
    padding-top: calc(#{$header-height-lg} + 3%)
  +sm
    margin-top: -$header-height-sm
    padding-top: calc(#{$header-height-sm} + 3%)
  &__form,
  &__content
    max-width: 900px
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto
  &__content
    margin-bottom: 15px
  &__form
    position: relative
    top: 50px
    z-index: 1
    +before
      +image('arrow.png')
      background-repeat: no-repeat
      background-size: auto
      position: absolute
      width: 19px
      height: 55px
      right: 20%
      top: -70px
      z-index: 1


  &--form
    margin-bottom: 50px
