.nav
  text-transform: uppercase
  ul:first-child
    // padding-right: 100px
    // +xl
    //   padding-right: 0
  li
    display: inline-block
    +notlast
      margin-right: 35px
      +xl
        margin-right: 10px
        
    +lg
      display: block
      border-bottom: 1px solid  #747474
      padding-top: 10px
      padding-bottom: 10px


