.registration
  +flex(center, center, column)
  // padding-bottom: 50px
  // padding-top: 5%
  flex-grow: 1
  
  &__inner
    // @extend .descr__inner
    max-width: 870px
    padding-left: 15px
    padding-right: 15px
    width: 100%