.registration
  +flex(flex-end, center, column)
  padding-bottom: 50px
  // padding-top: 5%
  flex-grow: 1
  &__inner
    // @extend .descr__inner
    max-width: 870px
    padding-left: 15px
    padding-right: 15px
    width: 100%
  +lg
    padding-bottom: 30px
  +sm
    padding-bottom: 15px